button:hover {
    cursor: pointer;
}

body {
    background-image: url(HW-5\TriviaGame\assets\images\prism.png);
}

h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 60px;
    text-align: center;
    margin-top: 4rem;
}

p {
    font-size: 40px;
}

div {
    font-family: 'Cabin Sketch', cursive;
    font-size: 40px;
}

.displayTimer {
    margin-top: 30px;
}

.btn {
    padding: .375rem 3.75rem;
    font-size: 2rem;
}
